<% wrap_layout :layout do %>
<div class="hero">
  <div class="row">
    <div class="large-12 columns">
      <h1>Blog</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <article>
      <header>
        <h1><%= current_article.title %></h1>
      </header>
      <%= yield %>
      <footer>
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="apachefriends" data-hashtags="xampp">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script> 
        <div class="fb-like" data-href="<%= page_url %>" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
      </footer> 
    </article>
  </div>
  <div class="large-4 columns">
    <aside>
      <h3>Recent Articles</h3>
      <ol id="articles">
        <% blog.articles[0...10].each do |article| %>
          <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
        <% end %>
      </ol>
    </aside>
  </div>
</div>
<% end %>
