---
title: Apache Friends XAMPP Community and Forums
description: Join our forums and thousands of developers around the world who are part of the XAMPP community.
keywords: XAMPP, community, forums, logos, mailing list, social links
---

<div class="hero">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= t("Community") %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div class="alert-box alert"><%= t("There are some errors in your form. Please fill out all the fields.") %></div>
    <!--<%= partial "mailing_list" %>-->
  </div>
  <div class="large-4 columns">
    <aside>
      <h4><%= t('Get Social!') %></h4>
      <%= partial "social", locals: { large: true } %>
      <!--<h4><%= t("IRC") %></h4>
      <p><%= t("You can get in touch with us on our Freenode IRC channel <strong>#Apachefriends</strong>. In order to access the channel, you will need an IRC client.") %></p>-->
      <h4><%= t('Overheard') %></h4>
      <a class="twitter-timeline" href="https://twitter.com/search?q=xampp" data-widget-id="410861251766390784"><%= t('Tweets about XAMPP') %></a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </aside>
  </div>
</div>
