<h3>Download</h3>
<ul class="no-bullet">
  <li>
    <% link_to "#", :class => "download" do %>
      <%= image_tag "windows-logo.png" %><strong>Windows</strong> 1.8.3
    <% end %>
  </li>
  <li>
    <% link_to "#", :class => "download" do %>
      <%= image_tag "linux-logo.png" %><strong>Linux</strong> 1.8.3
    <% end %>
  </li>
  <li>
    <% link_to "#", :class => "download" do %>
      <%= image_tag "apple-logo.png" %><strong>Mac OS X</strong> 1.8.3
    <% end %>
  </li>
  <li>
    <% link_to "#", :class => "download" do %>
      <%= image_tag "linux-logo.png" %><strong>Solaris</strong> 1.8.3
    <% end %>
  </li>
</ul>
<p><%= link_to "See all versions &raquo;", "#" %>
