<h5><%= link_to_docs "Backup and Restore MySQL/MariaDB Databases", "backup-restore-mysql.html" %></h5>
<h5><%= link_to_docs "Configure FTP Access", "transfer-files-ftp.html" %></h5>
<h5><%= link_to_docs "Configure Virtual Hosts", "configure-vhosts.html" %></h5>
<h5><%= link_to_docs "Configure Wildcard-Based Subdomains", "configure-wildcard-subdomains.html" %></h5>
<h5><%= link_to_docs "Deploy an Application Using Git", "deploy-git-app.html" %></h5>
<h5><%= link_to_docs "Reset the MySQL/MariaDB Root Password", "reset-mysql-password.html" %></h5>
<h5><%= link_to_docs "Send Mail with PHP", "send-mail.html" %></h5>
<h5><%= link_to_docs "Use SQLite with PHP", "use-sqlite.html" %></h5>
<h5><%= link_to_docs "Activate and Use Xdebug", "activate-use-xdebug.html" %></h5>
<h5><%= link_to_docs "Start a New Zend Framework 1.x Project", "create-framework-project-zf1.html" %></h5>
<h5><%= link_to_docs "Start a New Zend Framework 2.x Project", "create-framework-project-zf2.html" %></h5>
<h5><%= link_to_docs "Troubleshoot Apache Startup Problems", "troubleshoot-apache.html" %></h5>
<h5><%= link_to_docs "Change the MySQL Temporary Files Directory", "change-mysql-temp-dir.html" %></h5>
<h5><%= link_to_docs "Increase the PHP File Upload Limit", "increase-php-file-upload-limit.html" %></h5>
<h5><%= link_to_docs "Enable Remote Access to phpMyAdmin", "access-phpmyadmin-remotely.html" %></h5>
<h5><%= link_to_docs "Auto-Start XAMPP", "auto-start-xampp.html" %></h5>
