---
title: Welcome to XAMPP
description: XAMPP is an easy to install Apache distribution containing MariaDB, PHP and Perl.
keywords: xampp, apache, php, perl, mariadb, open source distribution
---
<div class="hero">
  <div class="row">
    <div class="large-12 columns">
      <h1><%= image_tag("xampp-logo.svg") %><%= t('XAMPP <span>Apache + MariaDB + PHP + Perl</span>') %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h2><%= t('Welcome to XAMPP for %{platform} %{version}',
              :platform => xampp_platform_name, :version => '@@XAMPP_VERSION@@'
    ) %></h2>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>
      <%= t('You have successfully installed XAMPP on this system! Now you can start using Apache, MariaDB, PHP and other components.') %>
      <%= t('You can find more info in the %{faq} section or check the %{howto} for getting started with PHP applications.',
            faq: localized_link_to("FAQs", "/faq.html"),
            howto: localized_link_to("HOW-TO Guides", "/howto.html")
      ) %>
    </p>
    <p>
      <%= t('XAMPP is meant only for development purposes. It has certain configuration settings that make it easy to develop locally but that are insecure if you want to have your installation accessible to others.') %>
      <%= t('If you want have your XAMPP accessible from the internet, make sure you understand the implications and you checked the %{faq} to learn how to protect your site. Alternatively you can use %{wamp}, %{mamp} or %{lamp} which are similar packages which are more suitable for production.',
          faq: localized_link_to("FAQs", "/faq.html"),
          wamp: link_to("WAMP", "https://bitnami.com/stack/wamp"),
          lamp: link_to("LAMP", "https://bitnami.com/stack/lamp"),
          mamp: link_to("MAMP", "https://bitnami.com/stack/mamp")
          ) %>
    </p>
    <p>
      <%= t('Start the XAMPP Control Panel to check the server status.') %>
    </p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3><%= t('Community') %></h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>
      <%= t('XAMPP has been around for more than 10 years &ndash; there is a huge community behind it. You can get involved by joining our %{forums}, adding yourself to the %{mailing_list}, and liking us on %{facebook}, or following our exploits on %{twitter}.',
            twitter: link_to("Twitter", "https://twitter.com/apachefriends"),
            facebook: link_to("Facebook", "https://www.facebook.com/we.are.xampp"),
            mailing_list: af_localized_link_to("Mailing List", "/community.html#mailing_list"),
            forums: link_to(t("Forums"), "https://community.apachefriends.org")
      ) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <h3><%= t('Install applications on XAMPP using Bitnami') %></h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>
    <%= t('Apache Friends and Bitnami are cooperating to make open source applications available on XAMPP, for free. Bitnami WordPress packaged applications can be deployed with one-click installers.') %>
    <%= t('Visit the %{bitnami_xampp} for details on the currently available apps.',
          bitnami_xampp: link_to(t("Bitnami XAMPP page"), "https://bitnami.com/stack/xampp?utm_source=bitnami&utm_medium=installer&utm_campaign=XAMPP%2BModule", target: "_blank")
    ) %>
    </p>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <a href="https://bitnami.com/stack/xampp?utm_source=bitnami&utm_medium=installer&utm_campaign=XAMPP%2BModule" target="_blank"><%= image_tag "bitnami-xampp.png", alt: t("Bitnami XAMPP page") %></a>
  </div>
</div>
